# git config for containers
# uses ssh
[user]
  name = Michael West
  email = quagly@gmail.com
[merge]
  tool = vimdiff
[push]
  default = simple
# Enforce SSH
[url "ssh://git@github.com/"]
  insteadOf = https://github.com/
